<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <ion-card>
        <ion-row>
            <ion-col size="6">
                <ion-card>
                    <div class="text-center">
                        <ion-card-subtitle>Valledupar-Cesar</ion-card-subtitle>
                        <ion-card-title>Dia Soleado</ion-card-title>
                        <ion-card-content>
                            26°
                        </ion-card-content>
                    </div>

                </ion-card>

            </ion-col>
            <ion-col size="6">
                <ion-img src="/assets/Sol.png"></ion-img>
            </ion-col>
        </ion-row>
        <ion-card-content>

            <ion-row>
                <ion-col size="4">
                    <ion-card class="text-center">
                        <ion-card-subtitle>Humedad:</ion-card-subtitle>
                        <ion-img src="/assets/Humedad.png"></ion-img>
                        <ion-label>20%</ion-label>
                    </ion-card>
                </ion-col>
                <ion-col size="4">
                    <ion-card class="text-center">
                        <ion-card-subtitle>Ciclo:</ion-card-subtitle>
                        <ion-img src="/assets/Luna.png"></ion-img>
                        <ion-label>Creciente</ion-label>
                    </ion-card>
                </ion-col>
                <ion-col size="4">
                    <ion-card class="text-center">
                        <ion-card-subtitle>Pronostico:</ion-card-subtitle>
                        <ion-img src="/assets/Lluvia.png"></ion-img>
                        <ion-label>Lluvioso</ion-label>
                    </ion-card>
                </ion-col>
            </ion-row>

        </ion-card-content>
    </ion-card>

    <ion-list>
        <ion-item>
            <ion-label>Tareas</ion-label>
        </ion-item>

        <ion-item routerLink="/detalles-cultivo" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1]">

            <ion-avatar slot="start">
                <ion-img src="/assets/planta.png"></ion-img>
            </ion-avatar>
            <ion-label>
                <h2>Nombre</h2>
                <h3>surco</h3>
                <p>Ubicacion</p>
            </ion-label>

            <ion-icon color="primary" name="water-outline"></ion-icon>
            <ion-icon color="success" name="leaf-outline"></ion-icon>
            <ion-icon color="danger" name="bug-outline"></ion-icon>
            <ion-icon color="warning" name="eye-outline"></ion-icon>


        </ion-item>
    </ion-list>



</ion-content>