<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Cultivos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <ion-list>
        <ion-item routerLink="/detalles-cultivo" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
            <ion-avatar slot="start">
                <ion-img src="/assets/planta.png"></ion-img>
            </ion-avatar>
            <ion-label>
                <h2>Nombre</h2>
                <h3>surco</h3>
                <p>Ubicacion</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-fab (click)="registrarCultivo()" vertical="bottom" horizontal="end " slot="fixed">

        <ion-fab-button>
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>

    </ion-fab>
</ion-content>