<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Cultivos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <ion-list>
        <ion-item *ngFor="let cultivo of cultivos" routerLink="/detalles-cultivo/{{cultivo.reference}}">
            <ion-avatar slot="start">
                <ion-img src="/assets/planta.png"></ion-img>
            </ion-avatar>
            <ion-label>
                <h2>Cultivo de: {{ cultivo.nombre }}</h2>
                <h3>Surco: {{ cultivo.surco }} </h3>
                <p>{{ cultivo.ubicacion }}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-fab (click)="registrarCultivo()" vertical="bottom" horizontal="end " slot="fixed">

        <ion-fab-button>
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>

    </ion-fab>
</ion-content>