<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
        </ion-buttons>
        <ion-title>Informacion</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <ion-card>
        <ion-item>
            <ion-label><b>Nombre:</b> {{ cultivo.nombre}} </ion-label>
        </ion-item>
        <ion-item>
            <ion-label><b>Surco:</b> {{ cultivo.surco}} </ion-label>
        </ion-item>
        <ion-item>
            <ion-label><b>Ubicacion:</b> {{ cultivo.ubicacion}} </ion-label>
        </ion-item>
        <ion-item>
            <ion-label><b>Superficie(m<sup>2</sup>):</b> {{ cultivo.superficie}} </ion-label>
        </ion-item>
        <ion-item>
            <ion-label><b>Fecha Plantacion:</b> {{ cultivo.fecha | date: 'dd/MM/yyyy - HH:mm' }} </ion-label>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-label>
                <h2>Cuidados</h2>
            </ion-label>
            <ion-icon routerLink="/registros/{{ cultivo.reference}}" name="menu-outline"></ion-icon>

        </ion-item>

        <!--
        <ion-card-content>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Riego</ion-card-subtitle>
                </ion-card-header>
                <ion-item>
                    <ion-icon slot="start" name="water-outline"></ion-icon>
                    <ion-progress-bar type="determinate" slot="end" color="primary"></ion-progress-bar>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Abono</ion-card-subtitle>
                </ion-card-header>
                <ion-item>
                    <ion-icon slot="start" name="leaf-outline"></ion-icon>
                    <ion-progress-bar type="determinate" slot="end" color="primary"></ion-progress-bar>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Control de Plagas</ion-card-subtitle>
                </ion-card-header>
                <ion-item>
                    <ion-icon slot="start" name="bug-outline"></ion-icon>
                    <ion-progress-bar type="determinate" slot="end" color="primary"></ion-progress-bar>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Revision</ion-card-subtitle>
                </ion-card-header>
                <ion-item>
                    <ion-icon slot="start" name="eye-outline"></ion-icon>
                    <ion-progress-bar type="determinate" slot="end" color="primary"></ion-progress-bar>
                </ion-item>
            </ion-card>
        </ion-card-content>
        -->
    </ion-card>





</ion-content>